<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Clientes</title>
    <link rel="stylesheet" href="/style_admin_clientes.css">
</head>

<body>

<header>
    <div class="logo-area">
        <img src="/img/ppg-logo.svg" alt="Logo PPG" class="logo-header">
    </div>

    <div class="search-bar">
        <input type="text" placeholder="Buscar Cuenta" />
    </div>

    <div class="header-user">
        <a href="/logout" class="btn-logout">Cerrar sesión</a>
        <div class="user-icon">
            <img src="/img/iconoPerfil.png" alt="Usuario">
        </div>
    </div>
</header>

<div class="sidebar">

    <ul class="menu">
        <li><a href="/admin/home">Inicio</a></li>
        <li><a href="/admin/stats">Estadísticas</a></li>
        <li><a href="/admin/orders">Historial de órdenes</a></li>
        <li><a href="/admin/clients">Clientes</a></li>
    </ul>
</div>

<div class="contenido">
    <div class="card">
        <h2>Clientes</h2>
        <p>Aquí se muestra la información de los usuarios</p>
    </div>
</div>

</body>
</html>
