<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Admin Home</title>
    <link rel="stylesheet" href="/style_admin_home.css">
</head>

<body>

    <header>
        <div class="logo-area">
            <img src="/img/ppg-logo.svg" alt="Logo PPG" class="logo-header">
        </div>

        <div class="search-bar">
            <input type="text" placeholder="Buscar Producto" />
        </div>

        <div class="header-user">
            <a href="/logout" class="btn-logout">Cerrar sesión</a>
            <div class="user-icon">
                <img src="/img/iconoPerfil.png" alt="Usuario">
            </div>
        </div>
    </header>



    <div class="layout">
        <aside>
            <nav class="menu">
                <a href="/admin/home" class="active">Inicio</a>
                <a href="/admin/stats">Estadísticas</a>
                <a href="/admin/orders">Historial de órdenes</a>
                <a href="/admin/clients">Clientes</a>
            </nav>
        </aside>


        <main>
            <div class="bienvenida">
                <h2>Bienvenido administrador</h2>
            </div>

            <section class="banner">
                <div class="banner-text">
                    <h2>Preventa Activa: Productos Exclusivos Mundial 2026</h2>
                </div>

                <div class="banner-right">
                    <img src="/img/niñoMundial.png"
                        alt="Mundial 2026"
                        class="banner-illustration">
                </div>
            </section>

            <section class="actions-card">
                <button class="btn-action btn-add">Agregar Producto</button>
                <button class="btn-action btn-del">Eliminar Producto</button>
            </section>

            <section class="catalog-card">
                <div class="catalog-header">
                    <h3>Catalogo de Productos</h3>
                    <input class="search-catalog"
                        type="text"
                        placeholder="Buscar Productos" />
                </div>

                <div class="product-grid">
                    <div class="product-card">
                        <div class="product-img-wrap">
                            <img src="/img/botePintura.png"
                                alt="Sellador Comex">
                        </div>
                        <div class="product-name">
                            Sellador Comex 5×1 Clásico Preparación de
                            Superfícies PPG Silicona o Poliuretano 4000 ml
                        </div>
                        <span class="product-tag">Sellador</span>
                    </div>

                    <div class="product-card">
                        <div class="product-img-wrap">
                            <img src="/img/botePintura.png"
                                alt="Sellador Comex">
                        </div>
                        <div class="product-name">
                            Sellador Comex 5×1 Clásico Preparación de
                            Superfícies PPG Silicona o Poliuretano 4000 ml
                        </div>
                        <span class="product-tag">Sellador</span>
                    </div>

                    <div class="product-card">
                        <div class="product-img-wrap">
                            <img src="/img/botePintura.png"
                                alt="Sellador Comex">
                        </div>
                        <div class="product-name">
                            Sellador Comex 5×1 Clásico Preparación de
                            Superfícies PPG Silicona o Poliuretano 4000 ml
                        </div>
                        <span class="product-tag">Sellador</span>
                    </div>

                    <div class="product-card">
                        <div class="product-img-wrap">
                            <img src="/img/botePintura.png"
                                alt="Sellador Comex">
                        </div>
                        <div class="product-name">
                            Sellador Comex 5×1 Clásico Preparación de
                            Superfícies PPG Silicona o Poliuretano 4000 ml
                        </div>
                        <span class="product-tag">Sellador</span>
                    </div>

                    <div class="product-card">
                        <div class="product-img-wrap">
                            <img src="/img/botePintura.png"
                                alt="Sellador Comex">
                        </div>
                        <div class="product-name">
                            Sellador Comex 5×1 Clásico Preparación de
                            Superfícies PPG Silicona o Poliuretano 4000 ml
                        </div>
                        <span class="product-tag">Sellador</span>
                    </div>

                    <div class="product-card">
                        <div class="product-img-wrap">
                            <img src="/img/botePintura.png"
                                alt="Sellador Comex">
                        </div>
                        <div class="product-name">
                            Sellador Comex 5×1 Clásico Preparación de
                            Superfícies PPG Silicona o Poliuretano 4000 ml
                        </div>
                        <span class="product-tag">Sellador</span>
                    </div>
                </div>
            </section>
        </main>
    </div>

</body>
</html>
