<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Historial de ordenes</title>
    <link rel="stylesheet" href="/style_admin_hist_ordenes.css">
</head>

<body>

<div class="top-bar">
    <img src="/img/ppg-logo.svg" alt="Logo" class="logo-header">

    <div class="search-container">
        <input type="text" class="search-input" placeholder="Buscar Orden">
    </div>

    <div class="right-section">
        <div class="user-icon">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                <circle cx="12" cy="8" r="4" stroke="currentColor" stroke-width="2"/>
                <path d="M4 20C4 16.6863 6.68629 14 10 14H14C17.3137 14 20 16.6863 20 20"
                stroke="currentColor" stroke-width="2"/>
            </svg>
        </div>

        <a href="/logout" class="logout-btn">Cerrar sesión</a>
    </div>
</div>


<div class="sidebar">
    <ul class="menu">
        <li><a href="/admin_home">Inicio</a></li>
        <li><a href="/admin_estadisticas">Estadísticas</a></li>
        <li><a href="/admin_historial">Historial de órdenes</a></li>
        <li><a href="/admin_clientes">Clientes</a></li>
    </ul>
</div>


<div class="contenido">
    <div class="card">
        <h2>Historial de ordenes</h2>
        <p>Este apartado mostrará las ordenes realizadas por todos los clientes</p>
    </div>
</div>

</body>
</html>
