<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/style_login.css">
</head>

<body>

<div class="card">
    <h2>Iniciar sesión</h2>

    <form action="/login" method="POST">
        <input type="text" name="usuario" placeholder="Usuario" required>
        <input type="password" name="password" placeholder="Contraseña" required>
        <button type="submit">Aceptar</button>
    </form>

    <% if (mensaje) { %>
        <div class="mensaje"><%= mensaje %></div>
    <% } %>
</div>

<div style="
position:fixed; top:50%; left:28.5%;
transform:translate(-50%,-50%); z-index:1;">
<img src="img/ppg-logo.png" style="width:220px; border-radius:32px;">
</div>

</body>
</html>

