
body {
    font-family: Arial, sans-serif;
    background: #eef1f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background: white;
    padding: 30px;
    width: 320px;
    border-radius: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.548);
    text-align: center;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background: #0751b8;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #03255c;
}

.mensaje {
    margin-top: 15px;
    text-align: center;
    color: #b30f0fe0;
    font-weight: bold;
}
